.btn {
  display: block;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
}

.btn_type_promo {
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  padding: 10px 20px;
}

.btn_type_more {
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  background-color: #2F2F2F;
  color: #fff;
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
  width: 100%;
}

.btn_type_icon {
  font-size: 0;
}

.btn_type_profile-submit {
  color: #fff;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  margin: 0 auto 16px;
}

.btn_type_profile-logout {
  color: #EE3465;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  margin: 0 auto;
}
