.profile {
  padding: 74px 0 70px;
}

.profile__title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
  margin: 0 0 117px;
}

.profile__form {
  margin: 0 auto ;
  max-width: 410px;
}

.profile__form-field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.profile__form-field:last-of-type{
  margin-bottom: 204px;
}

.profile__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
  padding: 16px 0 16px 40px;
  text-align: right;
  color: #fff;
  font-size: 11px;
  line-height: 120%;
  font-weight: 400;
  transition: border-bottom .3s ease;
}

.profile__input-label_style_borderless {
  border-bottom: 1px solid transparent;
}

.profile__input_type_error {
  border-bottom: 1px solid #ee3465;
}

.profile__input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}

.profile__input-label {
  color: #fff;
  font-size: 11px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

.profile__input-error {
  font-size: 10px;
  color: #ee3465;
  position: absolute;
  top: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px;
  }
  .profile__title {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding: 70px 0 40px;
  }
  .profile__title {
    margin-bottom: 74px;
  }
  .profile__form {
    max-width: calc(260 / 292 * 100%);
  }
}