.promo {
  padding: 75px 0;
}

.promo__grid {
  display: grid;
  grid-template-columns: calc(640 / 1140 * 100%) 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "content pic";
  margin-bottom: 84px;
}

.promo__content {
  grid-area: content;
}

.promo__title {
  margin: 0 0 36px;
  color: #fff;
  font-size: 50px;
  line-height: 116%;
  font-weight: 400;
}

.promo__text {
  margin: 0;
  color: #fff;
  opacity: .5;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  max-width: 310px;
}

.promo__pic-container {
  grid-area: pic;
  width: 310px;
  justify-self: end;
}

.promo__pic {
  background: center/contain no-repeat url(../../images/promo-pic.svg);
  width: 100%;
  padding-top: 100%
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 140px 0 76px;
  }
  .promo__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "pic"
    "content";
    row-gap: 48px;
    margin-bottom: 92px;
  }
  .promo__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .promo__title {
    margin: 0 0 22px;
    color: #fff;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    max-width: calc(680 / 768 * 100%);
  }
  .promo__text {
    margin: 0;
    text-align: center;
    max-width: calc(260 / 768 * 100%);
  }
  .promo__pic-container {
    justify-self: center;
  }
  .promo__learn-more {
    margin: 0 auto;
  }
}