.main__section_type_promo {
  background-color: #073042;
}

.main__section_type_techs {
  background-color: #272727;
}

.main__section-inner {
  max-width: 1140px;
  width: calc(1140 / 1280 * 100%);
  margin: 0 auto;
}

.main__section-title {
  margin: 0;
  padding-bottom: 23px;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  border-bottom: 1px solid #DADADA;
}

.main__section-title_type_about-project {
  margin-bottom: 70px;
}

.main__section-title_type_techs {
  margin-bottom: 90px;
}

.main__section-title_type_about-me {
  margin-bottom: 66px;
}
