.social {
  display: block;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.social__item {
  margin-left: 20px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
}

.social__link_type_thin {
  font-size: 13px;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .social__link_type_thin {
    font-size: 12px;
  }
  .social__list_type_column {
    flex-direction: column;
  }
  .social__item_type_centered {
    margin: 0 auto 12px;
  }
  .social__item_type_centered:last-child {
    margin-bottom: 0;
  }
}
