.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navigation__page-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 0 60px;
}

.navigation__page-item:last-of-type {
  margin-left: 16px;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.navigation__link_active {
  font-weight: 500;
  align-content: flex-end;
}

.navigation__sign-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navigation__sign-up {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 190%;
  font-weight: 500;
}

.navigation__sign-in {
  margin-left: 30px;
  display: inline-block;
  padding: 2px 20px;
  background-color: #3ddc84;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  line-height: 190%;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navigation_tablet_hidden {
    display: none;
  }
}
