.header {
  display: block;
}

.header__container {
  max-width: 1140px;
  width: calc(1140 / 1280 * 100%);
  margin: 0 auto;
  padding: 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__nav {
  flex-grow: 1;
}

.header_style_main {
  background-color: #073042;
}