.header__container {
  max-width: 1140px;
  width: calc(1140 / 1280 * 100%);
  margin: 0 auto;
  padding: 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo-wrap {
  flex-basis: 25%;
}

.header__nav {
  flex-basis: 50%;
}

.header__user {
  flex-basis: 25%;
}