.about-me {
  padding: 110px 0 125px;
}

.about-me__person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about-me__content {
  max-width: calc(600 / 1140 * 100%);
  margin-bottom: 100px;
}

.about-me__title {
  margin: 0 0 15px;
  color: #fff;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -2px;
}

.about-me__subtitle {
  margin: 0 0 26px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.about-me__text {
  margin: 0 0 99px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.about-me__avatar {
  border-radius: 10px;
}
