.about-me {
  padding: 110px 0 125px;
}

.about-me__person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.about-me__content {
  max-width: calc(600 / 1140 * 100%);
  min-width: 310px;
}

.about-me__title {
  margin: 0 0 15px;
  color: #fff;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -2px;
}

.about-me__subtitle {
  margin: 0 0 26px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.about-me__text {
  margin: 0 0 99px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.about-me__avatar {
  justify-self: start;
  border-radius: 10px;
  width: 270px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 0;
  }
  .about-me__avatar {
    width: 250px;
  }
  .about-me__person {
    margin-bottom: 90px;
  }
  .about-me__content {
    max-width: calc(364 / 668 * 100%);
  }
  .about-me__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .about-me__subtitle {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__text {
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 660px) {
  .about-me {
    padding: 70px 0;
  }
  .about-me__person {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .about-me__content {
    max-width: 100%;
    min-width: 0;
  }
  .about-me__avatar {
    width: auto;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .about-me__person {
    margin-bottom: 69px;
  }
  .about-me__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -1.2px;
  }
  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__text {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
}
